/* ----- COLORS AND FONT STYLES ----- */

.navigation,
.hero,
.footer {
    background-color: #1F2937;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text p,
.navigation a {
    font-size: 18px;
    color: #E5E7EB;
}

.content-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.testimonial {
    background-color: #E5E7EB;
}

.testimonial q {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.cta div {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    color: white;
    border: 0;
    font-weight: bold;
}

/* ----- WHOLE CHANGES ----- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

button {
    width: 120px;
    height: 30px;
    border-radius: 12px;
}

/* ----- NAVIGATION ----- */

nav {
    display: flex;
    height: 50px;
    padding: 0 100px;
}

.logo-text {
    display: flex;
    align-self: center;
}

.navigation ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 15px;
}

.navigation li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ----- HERO ----- */

.hero {
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero article {
    display: flex;
    width: 100%;
    padding: 100px 0;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
}

.hero-text h1 {
    margin: 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 50%;
    background-color: #8a8a8a;
}

.hero-img p {
    display: flex;
    align-self: center;
}

/* ----- CONTENT ----- */

.content {
    padding: 50px 200px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    text-align: center;
}

.content-cards {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.content-cards p {
    text-align: center;
}

/* ----- TESTIMONIAL ----- */

.testimonial {
    padding: 100px 200px;
}

/* ----- CALL-TO-ACTION ----- */

.cta {
    padding: 100px 150px;
}

/* ----- FOOTER ----- */

.footer {
    padding: 0 150px;
}